{% extends "base.html" %}


{% block css %}
<style type="text/css">

body{
     margin: 0;
    padding: 0;
}

h1{
    color:black;
}

img{
    float: left;
}

.big{
   font-family: inherit;
   color: red;
}
table{
    border: 1px solid #ddd;
    padding-right:700px;
    margin-left: 70px;
    table-layout: fixed;
    float:right;
    vertical-align: middle;
}

th{
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
.right{
    float: right;
    width: 300px;
}
.line{
    border-bottom: 1px solid #ddd;
}
</style>
{% endblock %}


{% block main %}



<h1> PROFILE </h1>


<img src={{ url_for('static', filename="me.jpg") }} alt="A Picture of Stephanie Ramsay" style="width:304px;height:228px; float: left; margin: 20px 15px 15px 0px;" >


<div class="right">
<table>
    <tr>
        <th> {{ name }} </th>
    </tr>
    
    <tr>
        <td class="line"> Today's date is {{ timeinfo() }} </td>
    </tr>


<tr>
    <td> Username: {{ name }} </td>
</tr>
<tr>
    <td> ID Number: 620085638 </td>
</tr>

<tr>
    <td> Age: 20 </td>
</tr>

<tr>
    <td> Gender: Female </td>
</tr>
<tr> </tr>
<tr> </tr>
<tr> </tr>
<tr>
    <td class="big"> May The Force be With You!!</td>
</tr>
</table>
</div>

{% endblock %}