{% extends "base.html" %}


{% block css %}
<style type="text/css">

body{
     margin: 0;
    padding: 0;
}

h1{
    color:black;
}

img{
    float: left;
}

.big{
   font-family: inherit;
   color: red;
}
table{
    border: 1px solid #ddd;
    table-layout: fixed;
    float: left;
    margin-right: 30px;
    
}

th{
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
tr{
    padding-bottom: 15px;
}
.right{
    float: right;
    width: 300px;
}
.line{
    border-bottom: 1px solid #ddd;
}
</style>
{% endblock %}



{% block main %}


<h1 class="page-header">Profile</h1>


<img src={{ url_for('static', filename="me.jpg") }} alt="A Picture of Stephanie Ramsay" style="width:200px;height:200px; margin: 20px 15px 15px 0px;" >


<div class="right">
<table style="float:left">
    <tr>
        <th> Stephanie Ramsay </th>
    </tr>
    
    <tr>
        <td class="line"> Today's date is  {{ time }} </td>
    </tr>


<tr>
    <td> Username: Stephanie Ramsay </td>
</tr>

<tr>
    <td> ID Number: 620085638 </td>
</tr>

<tr>
    <td> Age: 20 </td>
</tr>

<tr>
    <td> Gender: Female </td>
</tr>

    <tr> </tr>
    
    <tr> </tr>
        

<tr>
    <td class="big"> May The Force be With You!!</td>
</tr>

</table>

</div>

{% endblock %}